{% extends 'common.html' %}

{% block title %}
<title>About</title> 
{% endblock title %}
{% block content%}
<h2> Face login system </h2>
<hr style="height:2px;border-width:0;color:rgb(26, 126, 117);background-color:gray">

<p  style="text-align: justify; color: rgb(93, 50, 80);">
    Facial recognition system which can be intergrated on a website or an application and can be used by a person to login into a system.
    Facial recognition is achieved by OpenCV's face_recognition wrapper function and the sigup/login pages are built using HTML and CSS. 
    Database of image encodings are stored in Django's database.

</p>

{% endblock content %}